#quote-box {
  .buttons {
    display: block;
    width: 450px;
    margin: auto;

    .button {
      height: 38px;
      margin-top: 30px;
      border: none;
      border-radius: 3px;
      padding: 8px 18px 6px 18px;
      outline: none;
      background-color: #333333;
      color: #ffffff;
      font-size: 0.85em;
      opacity: 1;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &#tweet-quote {
        float: left;
        width: 40px;
        height: 30px;
        margin-right: 5px;
        padding: 8px 0 0 0;
        font-size: 1.2em;
        text-align: center;
      }

      &#new-quote {
        float: right;
      }
    }
  }
}
